/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
        #havbarHeader {
            a { 
                left:20px;
            }
        }

        #navbar {
            margin-left: 150px;
        }

        .main {
            .employments {
                .thumbs { 
                    min-width:120px;   
                    min-height:60px;  
                    img {             
                        max-height: 40px;
                        display: inline;
                        vertical-align: middle;
                    }
                }
            }
        }
}